:root {
    /*Fonts*/
    --main-font: Montserrat, sans-serif;
    --secondary-font: Montserrat Alternates, sans-serif;
  
    /*Text colors*/
    --main-txt-cl: #3C322D;
    --accent-txt-cl: #ffffff;
    --secondary-txt-cl: #2E2520;
  
    /*Background colors*/
    --main-bg-cl: #F3848C;
    /* --accent-bg-cl: #2f303a; */
    /* --white-txt-cl: #ffffff; */
  
    /*others*/
    /* --btn-hover-cl: #188ce8;
    --btn-cl: #f5f4fa; */
  }
  
  /*Загальне для всьго*/
  .body {
    font-family: var(--main-font);
    color: var(--main-txt-cl);
  }

  .button {
    cursor: pointer;
    display: flex;
    font-family: var(--main-font);
    color: var(--accent-txt-cl);
    background-color: var(--main-bg-cl);
    font-size: 18px;
    font-weight: 400; /* Зазвичай не обов'язково, але може бути вказано для ясності. */
    line-height: normal;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 40px;
    border: none;
    border-radius: 25px;
    box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
  }

  .button:hover {
    color: var(--main-bg-cl);
    background-color: var(--accent-txt-cl);
    border: 2px solid var(--main-bg-cl);
  }

  h2 {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 32px;
    }
    @media screen and (min-width: 769px) {
      font-size: 32px;
    }
  }

  h3 {
    font-family: var(--secondary-font);
    color: var(--main-txt-cl);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }
  
  .link {
    text-decoration: none;
    color: currentColor;
  }
  
  .list {
    list-style: none;
  }

  /*reset*/
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    @media screen and (min-width: 481px) and (max-width: 768px) {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
    @media screen and (min-width: 769px) {
      max-width: 1200px;
      padding-left: 16px;
      padding-right: 16px;
    }
    /* width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; */
  }

  .icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0;
  }

  .icons-item:hover {
    fill: var(--main-bg-cl);
    cursor: pointer;
  }

  /*Header*/
  .header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 480px) {
      background-image: url(../images/header_s.jpg);
      height: 312px;
      padding-top: 16px;
      padding-bottom: 8px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      background-image: url(../images/header.jpg);
      height: 345px;
      padding-top: 24px;
      padding-bottom: 43px;
      margin-bottom: 36px;
    }
    @media screen and (min-width: 769px) {
      background-image: url(../images/header.jpg);
      max-width: 1600px;
      height: 556px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 64px;
    }

    /* background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; */
  }

  .header-up {
    display: flex;
    @media screen and (max-width: 480px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      align-items: center;
      justify-content: space-between;
    }
  }

  .logo {
    display: flex;
    fill: var(--main-txt-cl);
    @media screen and (max-width: 480px) {
      margin-right: 30%;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-right: 74%;
      width: 106px;
      height: 47px;
    }
    @media screen and (min-width: 769px) {
      margin-right: 5%;
      width: 158px;
      height: 70px;
    } 
  }

  .nav {
    display: flex;
  }

  .nav-list {
    display: none;
    @media screen and (min-width: 769px) {
      display: flex;
      flex-direction: row;
      gap: 20px;
      font-family: var(--main-font);
      color: var(--main-txt-cl);
      font-size: 18px;
      font-weight: 400; /* Зазвичай не обов'язково, але може бути вказано для ясності. */
      padding: 0;
    }
  }
  
  .nav-item:hover,
  .nav-item:focus 
  .nav-item.active {
    display: flex;
    color: #FCFCFC;
    background-image: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
    box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
    width: 97px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }

  .header-menu {
    fill: var(--main-txt-cl);
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    @media screen and (min-width: 769px) {
      display: none;
    }
  }

  .header-box {
    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 480px;
    }
  }

  .header-title {
    font-family: var(--secondary-font);
    color: var(--main-txt-cl);
    font-weight: 600;
    @media screen and (max-width: 480px) {
      font-size: 28px;
      line-height: normal;
      width: 280px;
      letter-spacing: -0.84px;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 18px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 30px;
      line-height: normal;
      width: 319px;
      margin-top: 28px;
      margin-bottom: 8px;
    }
    @media screen and (min-width: 769px) {
      font-size: 60px;
      line-height: calc(65 / 60);
      width: 757px;
      margin-top: 65px;
      margin-bottom: 20px;
    }
  }

  .header-text {
    font-family: var(--secondary-font);
    color: var(--main-txt-cl);
    font-weight: 500;
    line-height: normal;
    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px){
      font-size: 16px;
    }
    @media screen and (min-width: 769px) {
      font-size: 24px;
    }
  }

  .header-btn {
    @media screen and (max-width: 480px) {
      margin-top: 28px;
      margin-bottom: 28px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px){
      margin-top: 24px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 769px) {
      margin-top: 28px;
      margin-bottom: 32px;
    }
  }

  .header-icons {
    fill: var(--main-txt-cl);
    margin: 0;
  }

  /* Main */
  /* Section 'About us' */
  .about {
    display: flex;  
    flex-direction: column;
    @media screen and (max-width: 480px) {
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      flex-direction: row;
    }
    @media screen and (min-width: 769px) {
      flex-direction: row;
    }
  }

  .about-img {
    @media screen and (max-width: 480px) {
      height: 59%;
      margin-top: 20px;
      margin-bottom: 28px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-right: 32px;
      width: 50%;
      height: 47%;
    }
    @media screen and (min-width: 769px) {
      margin-right: 32px;
    }
  }

  .about-text-box {
    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
    }
  }

  .about-title {
    @media screen and (max-width: 480px) {
      margin-bottom: 8px;
    }
  }

  .about-text {
    font-family: var(--main-font);
    color: var(--main-txt-cl);
    font-weight: 400; /* Зазвичай не обов'язково, але може бути вказано для ясності. */
    line-height: normal;
    @media screen and (max-width: 480px) {
      font-size: 16px;
      width: 62%;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 16px;
      width: 100%;
      margin-top: 4%;
      margin-bottom: 4%;
    }
    @media screen and (min-width: 769px) {
      font-size: 18px;
      width: 92%;
      margin-top: 28px;
      margin-bottom: 28px;
    }
  }

  .read-more-btn {
    display: flex;
    font-family: var(--main-font);
    color: var(--main-txt-cl);
    background-color: #ffffff;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: none;
    padding: 0;
    
    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 16px;
      margin-right: 45%;
    }
    @media screen and (min-width: 769px) {
      display: none;
    }
  }

  /* Section 'Program' */
  .program {
    display: flex;
    @media screen and (max-width: 480px) {
      flex-direction: column;
      margin-top: 28px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      flex-direction: row;
      margin-top: 81px;
    }
    @media screen and (min-width: 769px) {
     flex-direction: row;
     margin-top: 100px;
    }
  }

  .program-text-box {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 480px) {
      justify-content: center;
      align-items: center;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      width: 63%;
      margin-right: 6%;
    }
    @media screen and (min-width: 769px) {
      width: 40%;
      margin-top: 92px;
      margin-right: 92px;
    }
  }

  .program-title {
    @media screen and (max-width: 480px) {
      margin-bottom: 8px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-bottom: 28px;
    }
    @media screen and (min-width: 769px) {
      margin-bottom: 24px;  
    }
  }

  .program-text {
    font-family: var(--main-font);
    color: var(--main-txt-cl);
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
    @media screen and (min-width: 769px) {
      width: 88%;
      font-size: 18px;
    }
  }

  .program-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    @media screen and (max-width: 480px) {
      gap: 14px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      gap: 16px;
    }
    @media screen and (min-width: 769px) {
      gap: 18px;
    }
  }

  .program-item {
    display: flex;
    font-family: var(--main-font);
    color: var(--main-txt-cl);
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
    @media screen and (min-width: 769px) {
      font-size: 18px; 
    }
  }

  .program-item::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-image: url("../images/iко.png");
    /* background-size: contain; */
  }

  .program-img-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    @media screen and (max-width: 480px) {
      gap: 20px;
      justify-content: center;
      margin-top: 24px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      gap: 7%;
      width: 69%;
      height: 50%;
      margin-top: 3%;
    }
    @media screen and (min-width: 769px) {
      gap: 9%;
      width: 50%;  
      height: 50%;
    }
  }

  .program-img-item {
    box-shadow: 2deg 2px 4px -3px rgba(0, 0, 0, 0.7);
    @media screen and (max-width: 480px) {
      width: 42%;
      height: 42%;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      width: 36%;
      height: 36%;
    }
    @media screen and (min-width: 769px) {
      width: 40%;
      height: 40%; 
    }
  }

  .program-img-item:nth-child(2n) {
    @media screen and (max-width: 480px) {
      margin-top: 36px;
    }
    @media screen and (min-width: 769px) {
     margin-top: 60px;
    }
  }

  .program-img-item:last-child {
    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-top: 70px;
    }
  }

   /* Section 'Speakers' */
   .speakers-title {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 480px) {
      margin-top: 36px;
      margin-bottom: 12px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-top: 44px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 769px) {
      margin-top: 100px;
      margin-bottom: 10px;
    }
   }

   .speakers {
    display: grid;
    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px; 
    }
    @media screen and (min-width: 769px) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
   }

   .speakers-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
   }

   .speakers-name {
    display: flex;
    font-family: var(--main-font);
    color: var(--main-txt-cl);
    font-weight: 600;
    line-height: normal;
    justify-content: center;
    @media screen and (min-width: 769px) {
      font-size: 16px;
      margin-top: 6px;  
      margin-bottom: 12px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 18px;
      margin-top: 19px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 769px) {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
   }

   .speakers-text {
    display: flex;
    font-family: var(--main-font);
    color: var(--main-txt-cl);
    font-weight: 500;
    line-height: normal;
    text-align: center;
    @media screen and (min-width: 769px) {
      font-size: 12px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 14px;
    }
    @media screen and (min-width: 769px) {
      text-align: center;
      font-size: 16px;
    }
   }
   
   /* Section 'Price' */
   .price-title {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 480px) {
      margin-top: 40px;
      margin-bottom: 27px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-top: 77px;
      margin-bottom: 31px;
    }
    @media screen and (min-width: 769px) {
      margin-top: 101px;
      margin-bottom: 27px;
    }
   }

   .price {
    display: grid;
    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(1, 280px);
      grid-gap: 24px;
      justify-content: center;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 12px; 
    }
    @media screen and (min-width: 769px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
   }

   .price-box {
    border-radius: 25px;
    background: #FAFBFB;
    box-shadow: 10px 15px 25px 0px rgba(210, 201, 201, 0.45);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    @media screen and (max-width: 480px) {
      padding-left: 18px;
      padding-right: 30px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      padding-left: 8px;
      padding-right: 20px;
      background-image: url(../images/price/price-bg-m-@2x.png);
      background-size: contain;
      background-position: 50% 75%;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: 769px) {
      padding-top: 28px;
      padding-bottom: 40px;
      padding-left: 10px;
      padding-right: 20px;
      background-image: url(../images/price/price-bg-l-@2x.png);
      background-size: contain;
      background-position: 50% 75%;
      background-repeat: no-repeat;
    }
   }

   .price-box:nth-child(2n) {
    border: 1px solid #F3848C;
    @media screen and (max-width: 480px) {
      background-image: url(../images/price/price-bg-s-@2x.png);
      background-size: contain;
      background-position: 50% 75%;
      background-repeat: no-repeat;
    }
   }

   .price-box:last-child {
    @media screen and (max-width: 480px) {
      background-image: url(../images/price/price-bg-s-@2x.png);
      background-size: contain;
      background-position: 50% 75%;
      background-repeat: no-repeat;
    }
   }

   .price-box:first-child .price-btn {
    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-top: 140%;
      /* margin-top: 278px; */
    }
    @media screen and (min-width: 769px) {
      margin-top: 69%;
    }
   }

   .price-box:nth-child(2) .price-btn {
    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-top: 68%;
      /* margin-top: 278px; */
    }
    @media screen and (min-width: 769px) {
      margin-top: 40%;
    }
   }

   .price-box-title {
    display: flex;
    font-family: var(--secondary-font);
    color: var(--main-txt-cl);
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
    @media screen and (min-width: 769px) {
      font-size: 20px; 
      margin-bottom: 35px;
    }
   }

   .price-list {
    padding: 0;
   }

   .price-item {
    display: flex;
    font-family: var(--main-font);
    color: var(--main-txt-cl);
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
    justify-content: start;
    margin-bottom: 12px;
    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 16px;
    }
    @media screen and (min-width: 769px) {
      font-size: 18px;
      margin-bottom: 16px;
    }
   }

   .price-item::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 6px;
    padding: 12px;
    background-image: url("../images/iко.png");
    /* background-size: contain; */
  }

   .price-btn {
    display: flex;
    color: var(--accent-txt-cl);
    margin-left: auto;
    margin-right: auto;
   }

   /* Section 'Reviews' */
   .reviews-title {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 480px) {
      margin-top: 40px;
      margin-bottom: 22px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-top: 80px;
      margin-bottom: 28px;
    }
    @media screen and (min-width: 769px) {
      margin-top: 100px;
      margin-bottom: 28px;
    }
   }

   .reviews-img {
    margin: 0 auto;
   }

   .reviews-name {
    display: flex;
    font-family: var(--main-font);
    color:  #000000;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    font-size: 14px;  
    justify-content: center;
    @media screen and (min-width: 769px) {
      color: #2E2520;
      font-size: 16px;
    }
   }

   .reviews-text {
    display: flex;
    font-family: var(--main-font);
    color:  #2E2520;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    font-size: 16px;  
    @media screen and (max-width: 480px) {
      
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      color: #000;
    }
    @media screen and (min-width: 769px) {
      color: #3C322D;
      font-size: 18px;
    }
   }

   .slick-dots li button::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--main-bg-cl);
    border-radius: 50%;
  }

  /* Section 'Registration' */
  .registration-title {
    display: flex;
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 480px) {
      margin-top: 48px;
      margin-bottom: 27px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin-top: 80px;
      margin-bottom: 27px;
    }
    @media screen and (min-width: 769px) {
      margin-top: 100px;
      margin-bottom: 28px;
    }
  }

  .registration {
    display: flex;
    border-radius: 10px;
    @media screen and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
      width: 280px;
      height: 394px;
      background-image: linear-gradient(to right, rgba(61, 44, 44, 0.5), rgba(61, 44, 44, 0.5)), url(../images/registration/bg-s-@1x.jpg);
          @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(to right, rgba(61, 44, 44, 0.5), rgba(61, 44, 44, 0.5)), url(../images/registration/bg-s-@2x.jpg);
          background-size: 100% auto;
          }
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      flex-direction: row;
      align-items: center;
      width: 690px;
      height: 246px;
      background-image: url(../images/registration/bg-m-@1x.jpg);
          @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/registration/bg-m-@2x.jpg);
          background-size: 100% auto;
          }
    }
    @media screen and (min-width: 769px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 950px;
      height: 246px;
      background-image: url(../images/registration/bg-l-@1x.jpg);
          @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/registration/bg-l-@2x.jpg);
          background-size: 100% auto;
          }
    }
  }
  
  .registration-text {
    display: flex;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    @media screen and (max-width: 480px) {
      flex-direction: column;
      color: var(--accent-txt-cl);
      width: 114px;
      margin-top: 40px;
      margin-bottom: 20px;
      text-align: center;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      flex-direction: row;
      color: #000;
      width: 140px;
      margin-right: 20px;
      text-align: right;
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: 769px) {
      flex-direction: row;
      color: var(--main-txt-cl);
      font-size: 20px;
      width: 170px;
      margin-right: 28px;
      text-align: right;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 480px) {
    .registration-text::after {
        content: '';
        margin-top: 20px;
        transform: translate(-29%, -50%);
        height: 2px;
        width: 264px;
        background-color: var(--accent-txt-cl);
        border-radius: 2px;
        border: transparent;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    .registration-text::after {
      content: '';
      margin-left: 30px;
      margin-right: 10px;
      transform: translate(-50%, 10%);
      height: 154px;
      width: 2px;
      background-color: #000;
      border-radius: 2px;
      border: transparent;
    }
  }

  @media screen and (min-width: 769px) {
    .registration-text::after {
      content: '';
      margin-left: 30px;
      margin-right: 10px;
      transform: translate(-50%, 10%);
      height: 154px;
      width: 2px;
      background-color: #000;
      border-radius: 2px;
      border: transparent;
    }
  }

  .registration-form-title {
    font-family: var(--main-font);
    line-height: normal;
    font-weight: 400;
    font-size: 16px;
    @media screen and (max-width: 480px) {
      color: var(--accent-txt-cl);
      text-align: center; 
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      color: #000;
      text-align: start;
      margin-bottom: 16px;
      width: 283px;
    }
    @media screen and (min-width: 769px) {
      color: var(--main-txt-cl);
      font-weight: 500;
      font-size: 20px;
      text-align: start;
      margin-bottom: 24px;
      width: 267px;
    }
  }

  .registration-box {
    display: flex;
    @media screen and (max-width: 480px) {
      flex-direction: column;
      gap: 12px;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      flex-direction: column;
      margin-right: 36px;
    }
    @media screen and (min-width: 769px) {
      flex-direction: column;
    }  
  }

  .registration-input {
    display: flex;
    border: none;
    @media screen and (max-width: 480px) {
      color: var(--accent-txt-cl);
      width: 265px;
      background: linear-gradient(to bottom, transparent 94%, #ffffff 6%);
      margin-bottom: 20px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      color: #000;
      width: 237px;
      background: linear-gradient(to bottom, transparent 94%, #000 6%);
      margin-bottom: 16px;
    }
    @media screen and (min-width: 769px) {
      color: var(--main-txt-cl);
      width: 212px;
      background: linear-gradient(to bottom, transparent 94%, #000 6%);
      margin-bottom: 16px;
    }
  }

  .registration-input::placeholder {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  @media screen and (max-width: 480px) {
    .registration-input::placeholder {
      color: var(--accent-txt-cl); 
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    .registration-input::placeholder {
      color: rgba(0, 0, 0, 0.50);
    }
  }

  @media screen and (min-width: 769px) {
    .registration-input::placeholder {
      color: #2E2520;
    }
  }

 
  








  





  
  







